:root {
  --vp-c-accent: #F9B62D;
  --vp-c-accent-bg: #F9B62D;
  --vp-c-accent-hover: #ffa14f;
}

[data-theme='dark'] {
  --vp-c-accent: #F9B62D;
  --vp-c-accent-bg: #F9B62D;
  --vp-c-accent-hover: #ffa14f;
}